# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgres://user:password@ep-cool-darkness-123456.us-east-2.aws.neon.tech/snifr

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=1d
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# Email (SMTP)
SMTP_HOST=your-smtp-host.com
SMTP_PORT=587
SMTP_EMAIL=your_smtp_email@example.com
SMTP_PASSWORD=your_smtp_password

# Email Sender Configuration
FROM_NAME=Snifr App
FROM_EMAIL=noreply@snifr.com  (as SMTP_EMAIL )

# CORS Configuration (comma-separated origins for production)
# CORS_ORIGINS=https://yourapp.com,https://www.yourapp.com

# Cloudinary Configuration (for image uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
